/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #FFF8F3, #FFF8F3);
    margin: 0;
    padding: 0;
    color: #3A3A3A;
    transition: all 0.3s ease-in-out;
}

header {
    background-color: #405D72;
    padding: 30px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin: 0;
    color: #F7E7DC;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s;
    color: #696969;
}

.menu-icon:hover {
    color: #F7E7DC;
}

/* Navbar Styles */
#navbar {
    display: none;
}

#navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar ul li {
    display: inline-block;
    margin: 0 10px;
}

#navbar ul li a {
    text-decoration: none;
    color: #696969;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

#navbar ul li a:hover {
    color: #F7E7DC;
}

.content-center {
    text-align: center;
    padding: 100px 20px;
}

footer {
    background-color: #758694;
    color: #FFF;
    padding: 10px 0;
    text-align: center;
    font-size: 0.8rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    position: bottom;
    margin: 0;
}
